.app {
  padding: 50px 100px;
}
@media screen and (max-width: 600px) {
  .app {
    padding: 50px 0px;
  }
}
.app-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  gap: 10px;
}
.app-header h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.app-header-generate-button {
  display: flex;

  justify-content: flex-end;
}
.app-header-generate-button button {
  padding: 5px;
  font-size: 14px;
  border-radius: 10px;
  background: rgb(0, 109, 100);
  color: white;
  opacity: 0.7;
}

.app-tables {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px 0px;
}
.app-tables > div {
  flex: 1;
}
